<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">

	<!-- wp:shortcode -->
	[itu_breadcrumbs]
	<!-- /wp:shortcode -->
	[itu_plans_bar]
	<!-- wp:html -->
	<article class="itu-section__inner itu-single-article">
	<!-- /wp:html -->

	<!-- wp:post-title {"level":1,"className":"itu-page-title"} /-->
	<!-- wp:post-content {"layout":{"type":"default"}} /-->

	<!-- wp:html -->
	</article>
	<!-- /wp:html -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
