<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">

	<!-- wp:shortcode -->
	[itu_breadcrumbs]
	<!-- /wp:shortcode -->

	<!-- wp:html -->
	<article class="itu-section__inner itu-single-article itu-practice-test">
	<!-- /wp:html -->

	<!-- wp:post-date {"className":"itu-eyebrow itu-post-date","fontSize":"small"} /-->

	<!-- wp:post-title {"level":1} /-->

	<!-- wp:shortcode -->
	[itu_plans_bar]
	<!-- /wp:shortcode -->

	<!-- wp:post-content {"layout":{"type":"default"}} /-->

	<!-- wp:post-terms {"term":"post_tag","style":{"color":{"text":"var:preset|color|gray-400"}},"fontSize":"small"} /-->

	<!-- wp:shortcode -->
	[itu_product_faq]
	<!-- /wp:shortcode -->

	<!-- wp:shortcode -->
	[itu_plans_bar]
	<!-- /wp:shortcode -->

	<!-- wp:html -->

	<nav class="itu-post-nav">
		<!-- /wp:html -->

		<!-- wp:post-navigation-link {"type":"previous","label":"← Previous Article","className":"itu-post-nav__prev"} /-->
		<!-- wp:post-navigation-link {"label":"Next Article →","className":"itu-post-nav__next"} /-->

		<!-- wp:html -->
	</nav>

	</article>
	<!-- /wp:html -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
